*,
::before,
::after {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}
button {
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em;
  font: inherit;
  color: inherit;
  transition: all 0.5s;
  &:hover {

  }
}

li {
  list-style: none;
}


.input {
  outline: none;
  padding: 0.5em 1em;
  transition: all 0.3s;
  &:hover {
  }
}
